.container {
    max-width: 60rem;
}

.main-pad {
    padding-top: 15%;
}

.text-danger {
    color: red;
}

.text-success {
    color: green;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}