body {
    color: #3F51B5;
}

.container {
    max-width: 60rem;
}

a:focus, a:hover {
    color: #D81B60;
}

.button, button {
    background-color: #9C27B0;
    border-color: #9C27B0;
}

.button.button-clear, .button.button-outline {
    background-color: transparent;
    color: #9C27B0;
}

.button.button-clear {
    border-color: transparent;
}

.button.button-outline:focus, .button.button-outline:hover, button.button-outline:focus, button.button-outline:hover {
    border-color: #D81B60;
    color: #D81B60;
}

.button.button-clear:focus, .button.button-clear:hover, button.button-clear:focus {
    color: #D81B60;
}


.button:focus, .button:hover, button:focus, button:hover {
    border-color: #D81B60;
    background-color: #D81B60;
}

.profile-picture {
    border: 1px dashed #F3E5F5;
    border-radius: 50%;
}

.main {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    border: 1px dashed #F3E5F5;
    border-radius: 5px;
    box-shadow: 2px 2px 50px 0px rgba(222,222,222,0.62);
}

.text-warning {
    color: #FF5722;
}

.text-danger {
    color: #f44336;
}

.text-success {
    color: #009688;
}

pre {
    border-left: 0.2rem dotted #9C27B0;
}

.footer-pad {
    color: #9C27B0;
    font-size: 1.3rem;
    margin-top: 0.5%;
    margin-bottom: 7%;
}

.fa {
    font-size: 1.8rem;
}

.validation-summary-errors * {
    list-style: none;
    font-size:  1.5rem;
}

.hide-on-mobile{
    display: none;
    background-color: blue;
}


/* Properties to override on non-mobile */
@media (min-width: 40.0rem) {
    .hide-on-mobile{
        display: inline;
    }
    .main{
        margin-top: 12%;
    }
}
