
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="column">
        <a asp-controller="Account" asp-action="Login" class="button button-outline">Add another login method</a>
        <!-- TODO: manage button here -->
    </div>
</div>