@{
    ViewData["Title"] = "Lockout :(";
}

<div class="row">
    <div class="column">
        <h3>
            You have been locked-out :(
        </h3>
        <div>
            Please check back later.
        </div>
    </div>
</div>
