@{
    ViewData["Title"] = "Lockout :(";
}

<div class="row">
    <div class="column">
        <h3>
            You have been locked-out :(
        </h3>
        <div>
            Please check back later.
        </div>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Index" class="button button-outline">
            <i class="fa fa-home" aria-hidden="true"></i>&nbsp;
            Home
        </a>
    </div>
</div>
