@using Microsoft.AspNetCore.Identity
@using PwdLess.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="column">

            <a asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 2rem;">
                <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;
                Welcome, @UserManager.GetUserName(User)!
            </a>


            <button type="submit" class="button button-clear float-right">
                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
                Log out
            </button>
            <span class="hide-on-mobile">
                @if ((string)ViewData["Title"] == "Profile"){
                    <a asp-controller="Manage" asp-action="Logins" class="button button-clear float-right">
                        <i class="fa fa-address-book-o" aria-hidden="true"></i>
                        &nbsp;
                        My logins
                    </a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="EditUserInfo" class="button button-clear float-right">
                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        &nbsp;
                        Profile
                    </a>
                }
            </span>
        </form>
    </div>
}

