@using System.Text;
@using System.Security.Cryptography;
@model EditUserInfoViewModel
@{
    ViewData["Title"] = "Profile"; // Used by _LoginPartial
}


<div class="row">
    <div class="column">

        @{ 
            // Calculate MD5 of email for Gravatar
            using (var md5 = MD5.Create())
            {
                TempData["emailMD5"] = BitConverter.ToString(md5.ComputeHash((Encoding.ASCII.GetBytes(Model.Email.ToLower())))).Replace("-", "").ToLower();
            }
        }

        <a href="https://www.gravatar.com/@TempData["emailMD5"]" target="_blank">
            <img class="profile-picture float-right"
                 src="https://www.gravatar.com/avatar/@TempData["emailMD5"]?d=identicon"
                 alt="Profile picture" />
        </a>

        <h3>My profile</h3>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Logins" type="hidden" value="@Model.Logins" /> <!-- Doesn't actually send a list. You have to recompute. -->

            <label asp-for="UserName"></label>
            <input asp-for="UserName" />

            <label asp-for="Email"></label>
            @if (Model.Logins.Where(l => l.LoginProvider == "Email").Count() > 1)
            {
                <select asp-for="Email" asp-items=@Model.Logins.Where(l => l.LoginProvider == "Email").Select(l => new SelectListItem() { Text = l.ProviderKey.ToLower(), Value = l.ProviderKey, Selected = Model.Email.ToLower() == l.ProviderKey.ToLower() })></select>
            }
            else
            {
                <input asp-for="Email" type="hidden" value="@Model.Email" />
                <em>@Model.Email.ToLower()</em>

                @if (!Model.EmailConfirmed)
                {
                    <small class="text-danger">&nbsp;Unverified</small>
                    <a asp-controller="Account" asp-action="Login" class="button button-clear">
                        <i class="fa fa-envelope-o" aria-hidden="true" style="font-size:1.4rem;"></i>&nbsp;
                        Change/Verify by adding an email
                    </a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="button button-clear">
                        <i class="fa fa-envelope-o" aria-hidden="true" style="font-size:1.4rem;"></i>&nbsp;
                        Change by adding an email
                    </a>
                }

            }

            <label asp-for="FullName"></label>
            <input asp-for="FullName" />

            <label asp-for="FavColor"></label>
            <input asp-for="FavColor" />

            <button type="submit" class="button">
                <i class="fa fa-hdd-o" aria-hidden="true"></i>&nbsp;
                Save
            </button>
        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
