@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="column">
        <a asp-controller="Manage" asp-action="EditUserInfo" class="button button-outline">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            &nbsp;
            Edit your profile
        </a>
    </div>
</div>
<div class="row">
    <div class="column">
        <a asp-controller="Manage" asp-action="Logins" class="button button-outline">
            <i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;
            Manage existing logins
        </a>
    </div>
</div>
<div class="row">
    <div class="column">
        <a asp-controller="Account" asp-action="Login" class="button button-outline">
            <i class="fa fa-key" aria-hidden="true"></i>&nbsp;
            Add more login methods
        </a>
    </div>
</div>